@media screen and (min-width: 768px) and (max-width: 992px) {
  .booki {
    width: 100%;
    overflow-x: hidden;
  }

  .fa-search {
    display: none;
  }

  .filtreContainer {
    /* background-color: gold; */
    width: 100%;
  }

  .filtreBloc {
    width: 90%;
  }

  .figureContainer {
    flex-wrap: wrap;
    flex-direction: column;
    width: auto;
  }

  .figureContainerBloc1 {
    flex: 1;
    flex-wrap: wrap;
    width: auto;
  }

  .figureContainerBloc2 {
    margin-top: 30px;
    flex-wrap: wrap;
    width: auto;
    /* background-color: darkred; */
  }

  .figureContainerBloc2Header {
    width: 90%;
  }

  .figureContainer2 {
    /* background-color: darkgreen; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* width: 100%; */
    /* padding: 0 40px 0 40px; */
  }

  .figureContainer2 h2 {
    /* margin-left: 40px; */
  }

  .figureContainer2BlocContent {
    flex-direction: column;
    width: auto;
    /* background-color: darkblue; */
  }

  .figureContainer2Bloc {
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .figureContainer2Bloc1 {
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 0;
  }

  .bloc2 {
    width: 90%;
  }

  /* FOOTER */

  .footerContainer {
    width: auto;
  }

  .footerList2 {
    margin: 10px 0 10px 0;
    /* justify-content: none; */
  }

  .footerList3 {
    margin-right: 0px;
  }
}
